#box{
    background-color: rgb(163, 201, 26);
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;

}
#circle{
    background-color: blue;
    height: 110px;
    width: 120px;
    border-radius: 50px;
}