*{
    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box{
    background-color: rgb(25, 127, 216);
    padding: 0%;
}
