*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    height: 100vh;
    background: linear-gradient(45deg,#ff0080,#ff9c00,#40e0d0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0,0,0.3);
}
.container h1{
    font-size: 40px;
    color: #ff0080;
    margin-bottom: 15px;
}
.container p{
    font-size: 18px;
    margin-bottom: 20px;
}
button{
    padding: 10px 265px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    background: #ff8c00;
    color: white;
    cursor: pointer;
}
.date{
    font-size: 25px;
    font-weight: bold;
    color: #ff0080;
    margin: 10px;
}
button:hover{
    background: #ff0080;
}