# Ignore folders you don’t want on GitHub
Assignment/
C programming/
JavaScript-Major-project/
Photos/
java/
my web/
mypackage/

# Ignore specific files
Dev-C++.lnk/
Google Chrome.lnk/
MinGW Installer.lnk/
Opera Browser.lnk/
Personal - Edge.lnk/
Visual Studio Code.lnk/
desktop.ini

